/* shared styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 20px 25px;
    font-weight: 600;
}

.text-gray{
    color: #727272;
}



/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 140px ;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
}

nav li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 1rem;
}
/* banner section styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
    margin: 20px 0;
}

.banner img{
    width: 100%;
}


/* main area styles */
main{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
}

/* terms area styles */
.terms-container{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.terms-member{
    width: 50%;
}

.terms-member-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.terms-member-img-container img{
    width: 100%;
}

.terms-content{
    width: 50%;
    padding: 0 50px;
}

.section-title{
    font-size: 2.775rem;
    font-weight: 700;
}

.quick-list{
    font-weight: 500;
}

.terms-text{
    color: #FF900E;
}

.terms-description{
    margin: 20px 0;
}

/* features area styles */
.features{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.features-content{
    width: 50%;
}

.features-title{
    margin: 24px 0;
    padding-left: 24px;
    border-left: 5px solid #FF900E;
}

.features .card{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px gray;
    background-color: #fff;
}

.features .card:first-of-type{
    margin-top: 30px;
}

.features .card-title{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.features-photo {
    width: 50%;
}

.features-photo img{
    width: 100%;
}

.experience-wrap{
    width: max-content;
    background-color: #FF900E;
    padding: 45px 40px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    bottom: 80px;
    right: 25px;
}

.experience-wrap h3{
    font-size: 4rem;
    font-weight: 700;
}

.experience-wrap p{
    font-size: 1.25rem;
}


/* fact area styles */
.fact{
    margin-top: 100px;
}

.fact p{
    margin: 24px 0;
}

.card-container{
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.fact .card{
    padding: 45px 35px;
    text-align: center;
    border: 2px solid #FF900E;
    border-radius: 5px;
}

.fact .card h3{ 
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.fact .card p{ 
    max-width: 542px;
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 5px 0;
}


/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    header,
    main{
        padding: 20px;
    }

    nav,
    .terms-container,
    .features,
    .card-container
    {
        flex-direction: column;
    }

    .banner-title{
        font-size: 3rem;
    }

    .terms-member-img-container{
        grid-template-columns: 1fr;
    }

    .terms-member,
    .terms-content,
    .features-content,
    .features-photo{
        width: 100%;
    }
    
    .terms-content{
        padding: 0;
        margin-top: 20px;
    }

    .experience-wrap{
        position: static;
        margin: 20px auto;
    }

}

/* Responsive for Tablet of medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header,
    main{
        padding: 50px;
    }

    nav,
    .terms-container,
    .features,
    .card-container
    {
        flex-direction: column;
    }

    .terms-member,
    .terms-content,
    .features-content,
    .features-photo{
        width: 100%;
    }
    
    .terms-content{
        padding: 0;
        margin-top: 20px;
    }

    .experience-wrap{
        position: static;
        margin: 20px auto;
    }

}