/* shared styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 20px 25px;
    font-weight: 600;
}

.text-gray{
    color: #727272;
}



/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px ;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
}

nav li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 1rem;
}
/* banner section styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
    margin: 20px 0;
}

.banner img{
    width: 100%;
}


/* main area styles */
main{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 240px;
}

/* terms features area styles */
.terms-features-container{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.terms-member{
    width: 50%;
}

.terms-member-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.terms-member-img-container img{
    width: 100%;
}

.terms-content{
    width: 50%;
    padding: 0 50px;
}

.terms-title{
    font-size: 2.775rem;
    font-weight: 700;
}

.quick-list{
    font-weight: 500;
}

.terms-text{
    color: #FF900E;
}

.terms-description{
    margin: 20px 0;
}





/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav{
        flex-direction: column;
    }
}

/* Responsive for Tablet of medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }

    nav{
        flex-direction: column;
    }
}